body {
  font-family: "Rubik", sans-serif;
  background-color: #200033;
  margin: 0;
}

/* Nav ------------------------------------------------------------------------*/

.nav {
  width: 100%;
  height: 62px;
  background-color: #000000ee;
}

.nav-container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 28px;
  margin: 15px 0;
  color: #363636;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  width: 100%;
}

.nav-input:checked + nav-menu {
  background: #000000;
}

.nav-label,
.nav-input {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nav-menu a {
  transition: all 300ms ease;
}

.nav-menu a:hover {
  text-shadow: 1px 1px 3px #fffffff8;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}

@media (max-width: 768px) {
  .nav-item {
    color: #dbdbdb;
  }

  .nav {
    height: 50px;
  }

  .nav-label {
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    top: 50px;
    bottom: 0;
    background: #202020f3;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 1s ease-in-out;
  }

  .nav-input:checked + .nav-menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Photo -------------------------------------------------------------------------*/

.photo {
  margin: 67px 0;
  display: flex;
  justify-content: center;
}

#personal-photo {
  height: auto;
  width: 200px;
  border-radius: 5px;
}

/* Presentation -------------------------------------------------------------------*/

.name {
  display: flex;
  justify-content: center;
  color: #adadad;
  height: 28px;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.presentation {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Web Icons --------------------------------------------------------------------*/

.web-pages {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.web-pages a {
  width: 40px;
}

.web-pages img {
  width: 100%;
  height: auto;
  transition: all 400ms ease;
}

.web-pages img:hover {
  transform: translateY(-10%);
}

.subsection {
  font-size: 14px;
  font-weight: 400;
}

.subtitles {
  font-size: 20px;
  font-weight: 500;
}

/* About -----------------------------------------------------------------------*/

#About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  width: 90%;
  height: 100%;
  margin-top: 0;
}

.about-me {
  display: flex;
  color: #adadad;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.cv button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #979797e1;
  color: #ffffff;
  transition: all 400ms ease;
}

.cv button:hover {
  background-color: #ffffffe1;
  color: #000000;
  box-shadow: 0px 3px 28px -2px #ffffffa2;
}

/* Habilities ---------------------------------------------------------------------*/

.hability {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.hability-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.habilities1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.habilities1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.habilities2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.habilities2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

span {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 15px;
}

.hability-icons > div {
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hab img {
  width: 40%;
  height: auto;
  transition: all 350ms ease;
}

.hab img:hover {
  transform: translateY(-10%) rotate(6deg);
}

.space {
  height: 50px;
}

/* Experience ------------------------------------------------------------------*/

.experience {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.exp-subcontainer {
  display: flex;
  color: #ffffff;
  margin: 5px 0;
  gap: 2rem;
}

.date {
  color: #adadad;
}

.span-experience {
  color: #adadad;
}

.date-container {
  height: 45px;
  width: 30%;
}

.exp-description {
  height: 45px;
  display: flex;
  flex-direction: column;
}

.exp-description > p {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.exp-description > p > span {
  padding: 0;
}

.exp-borders {
  border-bottom: solid 1px #ffffff;
  padding: 5px 0 5px 0;
  margin: 0;
}

/* Proyects --------------------------------------------------------------------*/

.portafolio {
  color: #ffffff;
  margin: 0 0 10px 10px;
  display: flex;
  justify-content: center;
}

.images {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.images > a {
  border: 1px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}

.images > a > img {
  margin: 20px;
  width: 90%;
  height: auto;
  border-radius: 4px;
  transition: 0.5s ease;
}

.images a img:hover {
  transform: translateY(-4%);
  border: 2px solid white;
  box-shadow: 0px 3px 20px -2px white;
}

/* Animation ------------------------------------------------------------------ */

.circles {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  z-index: -1;
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* Footer ----------------------------------------------------------------------*/

footer {
  background-color: #141414;
}

.contact {
  color: #ffffff;
  margin: 0 0 10px 10px;
  display: flex;
  justify-content: flex-start;
}

.contacts-container {
  display: flex;
}

.Phone {
  color: #adadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Phone > p > span {
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
}

.phone-container {
  width: 60px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-container img {
  width: 100%;
  height: auto;
}

.mail-container {
  width: 60px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-container img {
  width: 100%;
  height: auto;
}

.Email {
  color: #adadad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Email > p > span {
  color: #adadad;
  font-size: 14px;
  font-weight: 400;
}

.made-love {
  color: #adadad;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/*Desktop -----------------------------------------------------------------------*/

@media (min-width: 769px) {
  .photo {
    margin: 70px 0;
  }

  #personal-photo {
    width: 300px;
  }

  .subsection {
    font-size: 20px;
  }

  .name {
    height: 30px;
  }

  .about-me {
    width: 50%;
  }

  .title {
    font-size: 40px;
  }

  .web-pages {
    gap: 5rem;
  }

  .web-pages img {
    width: 60px;
    height: auto;
  }

  .subtitles {
    font-size: 35px;
    font-weight: 600;
  }

  .paragraph {
    font-size: 20px;
  }

  .border1 {
    width: 80px;
  }

  span {
    font-size: 18px;
  }

  .habilities1 {
    width: 500px;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .hability-icons {
    flex-direction: row;
    justify-content: center;
  }

  .habilities2 {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .hab img {
    width: 20%;
  }

  .creation {
    width: 20%;
  }

  .experience-container {
    display: flex;
    align-items: center;
  }

  .exp-subcontainer {
    width: 50%;
  }

  .exp-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }

  .images a {
    width: 40%;
  }

  .contact {
    justify-content: center;
  }

  .contacts-container {
    justify-content: center;
    gap: 10rem;
  }
}
